
body {
  background-color: white;
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
  width: 95%;
}
h1 {
  background-color: aquamarine;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Lodrina Shadow', cursive;
  padding: auto;
}
ol, ul {
margin-top: 10px;
margin-left: 3%;
position: relative;
list-style-type: upper-roman; color: red;
}

